{% extends "home_layout.html" %}

{% block content %}
    <style>
.content {
  max-width: 300px;
  margin: auto;
  border: 3px solid #f1f1f1;
}

/* Add styles to the reset-confirm */
.reset-confirm {
  max-width: 300px;
  padding: 10px;
  background-color: lightblue;
}
.reset-confirm input[type=text], .reset-confirm input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  background: #f1f1f1;
}
</style>
    <div class="reset-confirm">
    <h1>Reset Password</h1><br>
    {% if validlink %}
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Change Password"/></p>
        </form>
    </div>
    {% else %}
        <p>
            The password reset link was invalid, possibly because it has already been used. Please request a
            <button><a href="{% url 'password_reset' %}">New Password Reset.</a></button>
        </p>
    {% endif %}
{% endblock %}