{% extends "home_layout.html" %}

{% block content %}

<style>
.content {
  max-width: 300px;
  margin: auto;
  border: 3px solid #f1f1f1;
}
#id_email{
  border-radius: 10px;
  border-style: solid;
  color: black;
  background-color: white;
  margin-left: 40px;
}
</style>
<div class="form">
    <h3>Forgotten your password?</h3>
    <p>Enter registered Email address to obtain a new password.</p>
    `<form action="." method="post">
        {% csrf_token %}
        {{ form.as_p }}
    `   <p><input type="submit" value="Send Link"></p>
     </form>
</div>
{% endblock %}
